.AroundAllJapan .divAroundTitleJapan img {
    width: 100%;
    height: 100%;
}

.AroundAllJapan .divAroundTitleJapan .flag {
    width: 550px;
    height: 100%;
    transform: translate(0%, 0%);
    opacity: 0.9;
}

.AroundAllJapan .divAroundTitleJapan {
    top: 10%;
    width: 100%;
    height: 400px;
}

.AroundAllJapan .AroundTraditionalRecipie img {
    width: 200px;
    height: 200px;
}


.AroundAllJapan .AroundRecipie .AroundTabs {
    top: 36%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    height: 100%;
}

.AroundAllJapan .AroundRecipie .AroundTabs .AroundTabPanel img {
    width: 400px;
    height: 400px;
    left: 0%;
}

.AroundAllJapan .AroundRecipie .AroundTabs .AroundTabPanel h1 {
    top: 36%;
    right: 50%;

}

.AroundAllJapan .divAroundTitleJapan .food {
    transform: translate(68.5%, -101%);
    width: 800px;
    height: 400px;
    opacity: 0.7;
}

.AroundAllJapan .divAroundTitleJapan p {
    font-size: xx-large;
    width: 700px;
    transform: translate(85%, -343%);
    color: rgb(156, 16, 16);
    background-color: rgba(168, 176, 221, 0.459);
}

.AroundAllJapan .AroundRecipie .AroundTabs .AroundTabList {
    color: rgb(201, 235, 211);
    font-size: 30px;
    background-color: rgb(128, 15, 15);
}

.AroundAllJapan .AroundRecipie .AroundTabs .AroundTabList :hover {
    background-color: rgba(219, 199, 199, 0.8);
    color: beige;
}


.AroundAllJapan .AroundRecipie .AroundTabs .AroundTabPanel .DivAroundSushiIngredients {
    color: rgb(20, 20, 20);
    font-size: large;
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 5px;
    background-color: rgb(177, 122, 59);
    transform: translate(0%, -1200%);

}

.AroundAllJapan .AroundRecipie .AroundTabs .AroundTabPanel .DivAroundOkonomiyakiIngredients {
    color: rgb(20, 20, 20);
    font-size: large;
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 5px;
    background-color: rgb(177, 122, 59);
    transform: translate(0%, -1000%);

}

.AroundAllJapan .AroundRecipie .AroundTabs .AroundTabPanel .DivAroundMisoSoupIngredients {
    color: rgb(20, 20, 20);
    font-size: large;
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 5px;
    background-color: rgb(177, 122, 59);
    transform: translate(0%, -1800%);

}

.AroundAllJapan .AroundRecipie .AroundTabs .AroundTabPanel h1 {
    font-size: 60px;
    color: rgba(189, 111, 22, 0.781);
    transform: translate(0%, -80%);
    margin-bottom: 0;
}

.AroundAllJapan .AroundRecipie .AroundTabs .AroundTabPanel h2 {
    transform: translate(0%, -80%);
}

.AroundAllJapan .AroundRecipie .AroundTabs .AroundTabPanel input[type=number] {
    transform: translate(0%, -250%);

}

.AroundAllJapan .AroundRecipie .AroundTabs .AroundTabPanel .SushiInstruction {
    width: 700px;
    transform: translate(70%, -150%);
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0.274);
    font-size: 20px;


}

.AroundAllJapan .AroundRecipie .AroundTabs .AroundTabPanel .OkonomiyakiInstruction {
    width: 700px;
    transform: translate(70%, -125%);
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0.274);
    font-size: 20px;
}

.AroundAllJapan .AroundRecipie .AroundTabs .AroundTabPanel .MisoSoupInstruction {
    width: 700px;
    transform: translate(70%, -120%);
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0.274);
    font-size: 20px;


}

.AroundAllJapan .AroundRecipie .AroundTabs .AroundTabPanel .addDiv {
    transform: translate(550%, -800%);
    justify-content: center;
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    font-size: 20px;
    border: 0;
    color: rgb(5, 38, 43);
    margin-bottom: 2px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRT6dcy2RuPxlb5v6PruLecns5F8QRtlET-Hg&usqp=CAU);
}

.AroundAllJapan .AroundRecipie .AroundTabs .AroundTabPanel .GoButton {
    transform: translate(0%, -250%);
    width: 50px;

}


.AroundAllJapan .AroundRecipie .AroundTabs .AroundTabPanel .descriptionOkonomiyakipara {
    transform: translate(70%, -300%);
    font-size: 30px;
    color: aliceblue;
    background-color: rgb(177, 122, 59, 0.5);
    width: 700px;

}

.AroundAllJapan .AroundRecipie .AroundTabs .AroundTabPanel .descriptionSushipara {
    transform: translate(70%, -250%);
    font-size: 30px;
    color: aliceblue;
    background-color: rgb(177, 122, 59, 0.5);
    width: 700px;
}

.AroundAllJapan .AroundRecipie .AroundTabs .AroundTabPanel .descriptionMisoSouppara {
    transform: translate(60%, -170%);
    font-size: 30px;
    color: aliceblue;
    background-color: rgb(177, 122, 59, 0.5);
    width: 800px;
}