.AroundAllMorocco .divAroundTitleMorocco img {
    width: 100%;
    height: 100%;
}

.AroundAllMorocco .divAroundTitleMorocco {
    top: 10%;
    width: 100%;
    height: 400px;
}

.AroundAllMorocco .AroundTraditionalRecipie img {
    width: 200px;
    height: 200px;
}

.AroundAllMorocco .divAroundTitleMorocco .flag {
    width: 550px;
    height: 100%;
    transform: translate(0%, 0%);
    opacity: 0.6;
}

.AroundAllMorocco .divAroundTitleMorocco .food {
    transform: translate(68.5%, -101%);
    width: 800px;
    height: 400px;
    opacity: 0.9;
}

.AroundAllMorocco .divAroundTitleMorocco p {
    font-size: xx-large;
    width: 700px;
    transform: translate(85%, -300%);
    color: rgb(30, 190, 91);
    background-color: rgba(0, 0, 0, 0.808);
}


.AroundAllMorocco .AroundRecipie .AroundTabs {
    top: 36%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    height: 100%;

}

.AroundAllMorocco .AroundRecipie .AroundTabs .AroundTabPanel img {
    width: 400px;
    height: 400px;
    left: 0%;
}

.AroundAllMorocco .AroundRecipie .AroundTabs .AroundTabPanel h1 {
    top: 36%;
    right: 50%;

}

.AroundAllMorocco .AroundRecipie .AroundTabs .AroundTabList {
    color: rgb(201, 235, 211);
    font-size: 30px;
    background-color: rgb(42, 119, 72);
}

.AroundAllMorocco .AroundRecipie .AroundTabs .AroundTabList :hover {
    background-color: rgba(104, 21, 21, 0.8);
    color: beige;
}